<ion-card class="topNav">
  <ion-card class="innerTopNav">
    <ion-img
      class="langImg"
      src="../../../assets/images/arabicLang.png"
    ></ion-img>
    <div class="topMenu">
      <div *ngIf="showLogin" (click)="goToLogin()">
        <div>
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <p class="topMenu_icon_title">Login</p>
      </div>

      <div *ngIf="showAccount" (click)="openMyAccountTab()">
        <div class="myAccount">
          <div>
            <ion-icon name="person-circle"></ion-icon>
          </div>
          <p class="topMenu_icon_title">My account</p>
        </div>
      </div>

      <div>
        <div>
          <ion-icon name="notifications"></ion-icon>
        </div>
        <p class="topMenu_icon_title">Notification</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="mainNav">
    <div class="logo">
      <ion-img
        class="websiteTitle"
        src="../../../assets/images/fabLogo.png"
        (click)="goToHome()"
      ></ion-img>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/home')}"
        (click)="goToHome()"
      >
        Home Page
      </div>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/products')}"
        (click)="goToStickyAds(0, 'All/Newest')"
      >
        Sticky Ads
      </div>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/commercialads')}"
        (click)="goToCommercialAds()"
      >
        Commercials Ads
      </div>
    </div>
    <div>
      <div class="addNewAds" (click)="goToAddNewAd()">
        <ion-icon class="adIcon" name="duplicate-outline"></ion-icon>
        <ion-text>Add Your Ad Now</ion-text>
      </div>
    </div>
  </ion-card>
</ion-card>

<div class="accountDropdown" *ngIf="onDropdownSelect">
  <div (click)="dismissSideMenu()"></div>
  <div>
    <div class="accountMenu">
      <h2 class="welcome">Welcome {{username}}</h2>
      <div (click)="goToMyAccount('ads')">
        <div><ion-icon name="person"></ion-icon> My Profile</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('ads')">
        <div><ion-icon name="duplicate"></ion-icon> My Ads</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('chats')">
        <div><ion-icon name="chatbox"></ion-icon> My Chats</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('favorites')">
        <div><ion-icon name="heart"></ion-icon> My Favorites</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('referrals')">
        <div><ion-icon name="people"></ion-icon> My Referrals</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('purchases')">
        <div><ion-icon name="bag-handle"></ion-icon> My Purchases</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div (click)="goToMyAccount('sellings')">
        <div><ion-icon name="bag-check"></ion-icon> My Sellings</div>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <p (click)="logout()" class="logOut">
        <ion-icon name="exit"></ion-icon>
        <ion-text>Logout</ion-text>
      </p>
    </div>
  </div>
</div>
