<ion-card class="topNav">
  <ion-card class="innerTopNav">
    <ion-img
      class="langImg"
      src="../../../assets/images/arabicLang.png"
    ></ion-img>
    <div class="topMenu">
      <ion-button (click)="logout()">Logout</ion-button>
      <div *ngIf="showLogin" (click)="goToLogin()">
        <div>
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <p class="topMenu_icon_title">Login</p>
      </div>

      <div *ngIf="showAccount">
        <div class="myAccount">
          <div>
            <ion-icon name="person-circle"></ion-icon>
          </div>
          <p class="topMenu_icon_title">My account</p>
        </div>
      </div>

      <div>
        <div>
          <ion-icon name="notifications"></ion-icon>
        </div>
        <p class="topMenu_icon_title">Notification</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="mainNav">
    <div class="logo">
      <ion-img
        class="websiteTitle"
        src="../../../assets/images/fabLogo.png"
        (click)="goToHome()"
      ></ion-img>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/home')}"
        (click)="goToHome()"
      >
        Home Page
      </div>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/products')}"
        (click)="goToStickyAds()"
      >
        Sticky Ads
      </div>
    </div>
    <div>
      <div
        class="menuInnerText"
        [ngClass]="{'active': isElementActive('/commercialads')}"
        (click)="goToCommercialAds()"
      >
        Commercials Ads
      </div>
    </div>
    <div>
      <div class="addNewAds" (click)="goToAddNewAd()">
        <ion-icon class="adIcon" name="duplicate-outline"></ion-icon>
        <ion-text>Add Your Ad Now</ion-text>
      </div>
    </div>
  </ion-card>
  <!-- <div class="accountDropdown">
    <ion-list>
      <ion-item>My Ads</ion-item>
      <ion-item>My Comments</ion-item>
      <ion-item>My Favorites</ion-item>
      <ion-item>Block List</ion-item>
    </ion-list>
  </div> -->
</ion-card>
