<ion-content>
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <ion-card class="profile">
    <ion-card-header>
      <ion-card-title class="editProfile">
        <ion-text>Edit Profile</ion-text>
        <div class="editIcon" (click)="goToMyAccount()">
          <ion-text class="edit">Back to my account</ion-text>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="profileDetails">
    <div>
      <div class="username">
        <ion-icon name="person-circle-sharp"></ion-icon>
        <ion-text>User name</ion-text>
      </div>
      <p class="usernameTip">Enter your full name, nickname or business name</p>

      <p class="name">Current name</p>
      <div class="currentName">{{username}}</div>

      <p class="name">New name</p>
      <ion-input
        type="text"
        class="inputField"
        placeholder="Enter your new name"
        [(ngModel)]="newName"
      />

      <div class="save_empty">
        <div class="save" (click)="changeName()">save</div>
        <div class="empty" (click)="emptyName()">Empty fields</div>
      </div>
    </div>

    <div>
      <div class="username">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-text>Password</ion-text>
      </div>
      <p class="usernameTip">
        It's a good idea to use a strong password that you don't use anywhere
        else
      </p>

      <p class="name">Current Password</p>
      <div class="passwordField">
        <ion-input
          [type]="typePassword"
          placeholder="Enter the password"
          [(ngModel)]="currentPassword"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye"
          *ngIf="showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
        <ion-icon
          slot="end"
          name="eye-off"
          *ngIf="!showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </div>

      <p class="name">New Password</p>
      <div class="passwordField">
        <ion-input
          [type]="typeNewPassword"
          placeholder="Enter the password"
          [(ngModel)]="newPassword"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye"
          *ngIf="showNewPassword"
          (click)="toggleNewPasswordVisibility()"
        ></ion-icon>
        <ion-icon
          slot="end"
          name="eye-off"
          *ngIf="!showNewPassword"
          (click)="toggleNewPasswordVisibility()"
        ></ion-icon>
      </div>

      <p class="name">Confirm the new password</p>
      <div class="passwordField">
        <ion-input
          [type]="typeConfirmPassword"
          placeholder="Confirm the new password"
          [(ngModel)]="confirmPassword"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye"
          *ngIf="showConfirmPassword"
          (click)="toggleConfirmPasswordVisibility()"
        ></ion-icon>
        <ion-icon
          slot="end"
          name="eye-off"
          *ngIf="!showConfirmPassword"
          (click)="toggleConfirmPasswordVisibility()"
        ></ion-icon>
      </div>

      <div class="save_empty">
        <div class="save" (click)="changePassword()">save</div>
        <div class="empty" (click)="emptyPassword()">Empty fields</div>
      </div>
    </div>
  </ion-card>

  <!-- Footer Section -->
  <ion-footer id="footerMob">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
