<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">{{'addNewAd' | translate}}</ion-label>
    <ion-card-content class="cancelAd" (click)="goToHome()">
      <ion-label>{{'cancel' | translate}}</ion-label>
      <ion-icon class="cancelIcon" name="close-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <div class="categoriesHeader">
        <ion-label>categories</ion-label>
        <ion-icon name="search"></ion-icon>
      </div>

      <div class="grid">
        <div *ngFor="let category of categories">
          <div
            (click)="goToCategories(category.cid, category.title, category.slug)"
          >
            <ion-card class="icons" [innerHTML]="category.icon | safeHtml">
            </ion-card>
            <p class="icon_title" *ngIf="english">{{category.title}}
            </p> 
            <p class="icon_title" *ngIf="arabic">{{category.arabic}}
            </p>
          </div>
        </div>
      </div>
    </ion-card>
    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
