<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <ion-card class="stickyAds">
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <div>
      <ion-icon class="header_icon" name="search"></ion-icon>
      <ion-icon class="header_icon" name="notifications"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="account">
    <ion-card-header>
      <ion-card-title class="userName">
        <ion-text>{{username}}</ion-text>
        <div>
          <div class="points" (click)="goToMyPoints()">
            <p>{{myPoints}}</p>
            <p>{{'myProfile.myPoints' | translate}}</p>
          </div>
          <div class="editIcon" (click)="goToProfile()">
            <ion-icon name="pencil-sharp" />
            <ion-text class="edit"
              >{{'myProfile.editAccount' | translate}}</ion-text
            >
          </div>
        </div>
      </ion-card-title>
      <ion-card-subtitle class="contactNum">
        <div>
          <ion-icon name="call" class="call"></ion-icon>
          <ion-text>{{mobNumber}}</ion-text>
        </div>
        <p class="referralCode">
          {{'myProfile.refCode' | translate}} - <span> {{referralCode}}</span>
          <ion-icon
            name="share-social"
            (click)="share()"
            style="cursor: pointer"
          ></ion-icon>
        </p>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-segment
    value="default"
    class="segment"
    [(ngModel)]="selectedSegment"
    (ionChange)="segmentChanged($event)"
  >
    <div class="segmentBorder">
      <ion-segment-button value="ads" default>
        <ion-label>{{'navData.ads' | translate}}({{myAdsCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="chats">
        <ion-label>{{'navData.chats' | translate}}({{myChatsCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label
          >{{'navData.favorites' | translate}}({{favAdsCount}})</ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="referrals">
        <ion-label>{{'navData.referrals' | translate}} ({{refCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="purchases">
        <ion-label>{{'navData.purchases' | translate}} ({{purchaseCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sellings">
        <ion-label>{{'navData.sellings' | translate}} ({{sellCount}})</ion-label>
      </ion-segment-button>
    </div>
  </ion-segment>

  <div class="myData">
    <!-- MY ADS -->
    <div *ngIf="selectedSegment === 'ads'">
      <h1 *ngIf="emptyMyAds">No Ads Posted Yet.</h1>
      <div *ngIf="myAds" class="cardDisplayMargin">
        <ion-card class="myAds" *ngFor="let ad of adDetails">
          <img [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]" />

          <div>
            <p class="uploadTime">
              <ion-text>{{ad.timestamp}}</ion-text>
              <ion-text
                class="adStatus"
                *ngIf="ad.adStatus == 'approved'"
                style="
                  text-transform: capitalize;
                  padding: 5px 10px;
                  background-color: #198754;
                  color: #fff;
                "
                >{{ad.adStatus}}</ion-text
              >
              <ion-text
                class="adStatus"
                *ngIf="ad.adStatus == 'rejected'"
                style="
                  text-transform: capitalize;
                  padding: 5px 10px;
                  background-color: #dc3545;
                  color: #fff;
                "
                >{{ad.adStatus}}</ion-text
              >
              <ion-text
                class="adStatus"
                *ngIf="ad.adStatus == 'expired'"
                style="
                  text-transform: capitalize;
                  padding: 5px 10px;
                  background-color: #dc3545;
                  color: #fff;
                "
                >{{ad.adStatus}}</ion-text
              >
              <ion-text
                class="adStatus"
                *ngIf="ad.adStatus == 'pending'"
                style="
                  text-transform: capitalize;
                  padding: 5px 10px;
                  background-color: #ffc107;
                  color: #fff;
                "
                >{{ad.adStatus}}</ion-text
              >
            </p>
            <h1 class="adTitle">{{ad.adTitle}}</h1>
            <p class="priceTag">
              <ion-text class="currency">Amount:  </ion-text>{{ad.itemObj.Price}} KWD
            </p>
            <div class="adBtns">
              <div class="viewBtn" (click)="goToProductDetails(ad)">
                <ion-icon name="eye-sharp"></ion-icon> View
              </div>
              <div>
                <ion-button class="editBtn">
                  <ion-icon name="pencil-sharp"></ion-icon>Edit
                </ion-button>
              </div>
              <div class="deleteBtn">
                <ion-icon name="trash-outline"></ion-icon> Delete
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- MY CHATS -->
    <div *ngIf="selectedSegment === 'chats'">
      <h1 *ngIf="emptyChats">No chats added</h1>
      <div *ngIf="chats" class="cardDisplayMargin">
        <ion-card class="myAds" *ngFor="let chat of chatsOnAd">
          <img
            [src]="'https://specbits.com/class2/fab/'+ chat.imagesArray[0]"
          />

          <div>
            <p class="uploadTime">{{chat.timestamp}}</p>
            <h1 class="adTitle">{{chat.adTitle}}</h1>
            <p class="priceTag">
              <ion-text class="currency">Amount:  </ion-text>{{chat.itemObj.Price}} KWD
            </p>
            <div class="adBtns">
              <div class="viewBtn" (click)="goToProductDetails(chat)">
                <ion-icon name="eye-sharp"></ion-icon> View Chats
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- MY FAVORITES -->
    <div *ngIf="selectedSegment === 'favorites'">
      <h1 *ngIf="emptyFavAds">Empty List</h1>
      <div *ngIf="favAds" class="cardDisplayMargin">
        <ion-card class="myAds" *ngFor="let fav of favorites">
          <img
            [src]="'https://specbits.com/class2/fab/'+ fav.images[0].image_name"
          />

          <div>
            <p class="uploadTime">{{fav.timestamp}}</p>
            <h1 class="adTitle">{{fav.title}}</h1>
            <p class="priceTag">
              <ion-text class="currency">Amount:  </ion-text>{{fav.price}} KWD
            </p>
            <div class="adBtns">
              <div class="viewBtn" (click)="goToProductDetails(fav)">
                <ion-icon name="eye-sharp"></ion-icon> View
              </div>
              <div class="deleteBtn" (click)="removeFromFavorites(fav.ad_id)">
                <ion-icon name="trash-outline"></ion-icon> Remove
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- MY REFERRALS -->
    <div *ngIf="selectedSegment === 'referrals'">
      <h1 *ngIf="emptyReferrals">0 referrals</h1>
      <div class="referralsCard" *ngIf="referrals">
        <ion-card *ngFor="let ref of myReferrals">
          <div class="userTitle">
            <ion-icon name="person-circle-sharp"></ion-icon>
            <h1>{{ref.username}}</h1>
          </div>
          <p>{{ref.joinedOn}}</p>
          <div class="contactBtns">
            <div class="viewBtn">
              <ion-button class="call">
                <ion-icon name="call"></ion-icon> Call
              </ion-button></div>

            <div class="waBtn">
              <ion-icon name="logo-whatsapp"></ion-icon> WhatsApp
            </div>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- MY PURCHASES -->
    <div *ngIf="selectedSegment === 'purchases'">
      <h1 *ngIf="emptyPurchases">No purchase made yet.</h1>
      <div *ngIf="purchases" class="cardDisplayMargin">
        <ion-card class="myAds" *ngFor="let purchase of purchasesData">
          <img
            [src]="'https://specbits.com/class2/fab/'+ purchase.image"
          />

          <div>
            <h1 class="adTitle">{{purchase.title}}</h1>
            <p class="priceTag">
              <ion-text class="currency">Amount:  </ion-text>{{purchase.price}} KWD
            </p>
            <p class="adPrice">
              <ion-text class="tag">Seller:  <ion-text class="tagName">{{purchase.sellerName}} </ion-text></ion-text>
              <ion-text class="uploadTime">{{purchase.timestamp}}</ion-text>
            </p>
          </div>
        </ion-card>
      </div>
    </div>

    <!-- MY SELLINGS -->
    <div *ngIf="selectedSegment === 'sellings'">
      <h1 *ngIf="emptySellings">No sellings made yet.</h1>
      <div *ngIf="sellings" class="cardDisplayMargin">
        <ion-card class="myAds" *ngFor="let sell of sellingsData">
          <img
            [src]="'https://specbits.com/class2/fab/'+ sell.image"
          />

          <div>
            <h1 class="adTitle">{{sell.title}}</h1>
            <p class="priceTag">
              <ion-text class="currency">Amount:  </ion-text>{{sell.price}} KWD
            </p>
            <p class="adPrice">
              <ion-text class="tag">Buyer:  <ion-text class="tagName">{{sell.buyerName}} </ion-text></ion-text>
              <ion-text class="uploadTime">{{sell.timestamp}}</ion-text>
            </p>
          </div>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <ion-footer id="footerMob">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
