$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

@media (max-width: $small-screen) {
  /************** Hiding elements in Mobile View **************/
  .topNav,
  .edit {
    display: none;
  }

  .stickyAds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 20px 0;
    box-shadow: none;
    text-align: left;
    color: #212529;
    ion-icon {
      font-size: 20px;
      color: #212529;
    }
  }

  .header_icon {
    font-size: 20px !important;
    padding: 0 5px;
    color: #212529;
  }

  .account {
    box-shadow: none !important;
    // margin: 160px 4% 30px;
  }

  .userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: #484848;
    margin-bottom: 30px;
  }

  .userName > div {
    display: flex;
    gap: 10px;
  }

  .points {
    display: flex;
    // border: 1px solid #484848;
    font-size: 11px;
    font-weight: 700px;
    border-radius: 5px;
    height: 40px;
  }

  .points > p:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    background-color: #959595;
    color: #fff;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #484848;
  }

  .points > p:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    color: #484848;
    margin: 0;
    border: 1px solid #484848;
    border-left: 0;
    border-radius: 0 5px 5px 0;
  }

  .editIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 12px 12px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .contactNum {
    color: #959595;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .contactNum div {
    display: flex;
    align-items: center;
  }

  .referralCode {
    letter-spacing: 0;
    color: #484848;
    display: flex;
    align-items: center;
  }

  .referralCode span {
    margin-left: 10px;
    font-weight: normal;
  }

  .referralCode ion-icon {
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
  }

  .call {
    font-size: 24px;
    margin-right: 15px;
    font-weight: lighter;
  }

  // ************ Segment Section *************

  // .segment {
  //   padding: 0 4%;
  // }

  .segment ion-label {
    text-transform: none !important;
    font-size: 14px;
    color: #484848;
  }

  .segmentBorder {
    margin: 0 4%;
    border-bottom: 1px solid #959595;
    display: flex;
    overflow: scroll;
    ion-segment-button {
      min-width: auto !important;
    }
  }

  .segmentBorder::-webkit-scrollbar {
    display: none;
  }

  ion-segment {
    ion-segment-button {
      --color-checked: #e30b1c;
      --background-checked: #faeaea;
    }
  }

  .myData {
    margin: 20px 4%;
  }

  // .myData div {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100px;
  // }

  //********** My Ads Section Styling **************
  .cardDisplayMargin {
    margin-bottom: 80px;
  }

  .myAds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .myAds > img {
    width: 100%;
  }

  .myAds > div {
    width: 100%;
    padding: 20px;
    // margin-right: 15px;
    // border: 1px solid green;
    display: flex;
    margin: auto;
    flex-direction: column;
    // gap: 10px;
    background-color: #fcf0f0;
  }

  .uploadTime {
    margin-top: 0;
  }

  .adTitle {
    font-size: 24px;
    color: #212529;
    font-weight: 700;
  }

  .adPrice {
    font-size: 22px;
    letter-spacing: 1px;
    color: #212529;
    font-weight: 700;
  }

  .currency {
    font-size: 12px;
    color: #959595;
    letter-spacing: 0;
  }

  .adBtns {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  .adBtns > div {
    ion-button {
      width: 100%;
      --background: #ff5100 !important;
      text-transform: none;
      margin: 0;
      height: 40px;
      font-size: 14px;

      ion-icon {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    cursor: pointer;
  }

  .viewBtn {
    display: flex;
    gap: 5px;
    padding: 0 20px 0 10px;
    height: 40px;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .deleteBtn {
    display: flex;
    gap: 5px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    background-color: #e30b1c;
    color: #fff;
    cursor: pointer;
  }

  //////////// Referrals Section //////////
  .referralsCard {
    width: 100%;
    margin-bottom: 80px;
  }

  .referralsCard ion-card {
    padding: 20px;
    background-color: #fcf0f0;
    margin-bottom: 30px;
  }

  .referralsCard p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .userTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #484848;
  }

  .userTitle ion-icon {
    font-size: 30px;
  }

  .userTitle h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }

  .waBtn {
    display: flex;
    gap: 5px;
    padding: 0 20px 0 10px;
    height: 40px;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
  }

  .contactBtns {
    display: flex;
    gap: 20px;
  }
}

@media (min-width: $large-screen) {
  #footerMob,
  .stickyAds {
    display: none;
  }

  .account {
    box-shadow: none !important;
    margin: 160px 4% 30px;
  }

  .userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    color: #484848;
    margin-bottom: 30px;
  }

  .userName > div {
    display: flex;
    gap: 20px;
  }

  .points {
    display: flex;
    // border: 1px solid #484848;
    font-size: 13px;
    font-weight: 700px;
    border-radius: 5px;
    height: 45px;
  }

  .points > p:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #959595;
    color: #fff;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #484848;
  }

  .points > p:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 5px;
    background-color: #fff;
    color: #484848;
    margin: 0;
    border: 1px solid #484848;
    border-left: 0;
    border-radius: 0 5px 5px 0;
  }

  .editIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    padding: 12px 12px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .edit {
    display: none;
    font-size: 13px;
    font-weight: 700px;
  }

  .editIcon:hover .edit {
    display: block;
  }

  .contactNum {
    display: flex;
    align-items: center;
    gap: 100px;
    color: #959595;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .contactNum div {
    display: flex;
    align-items: center;
  }

  .referralCode {
    letter-spacing: 0;
    color: #484848;
    display: flex;
    align-items: center;
  }

  .referralCode span {
    margin-left: 10px;
    font-weight: normal;
  }

  .referralCode ion-icon {
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
  }

  .call {
    font-size: 24px;
    margin-right: 15px;
    font-weight: lighter;
  }

  // ************ Segment Section *************

  // .segment {
  //   padding: 0 4%;
  // }

  .segment ion-label {
    text-transform: none !important;
    font-size: 18px;
    color: #484848;
  }

  .segmentBorder {
    margin: 0 4%;
    border-bottom: 1px solid #959595;
    width: 100%;
    display: flex;
  }

  ion-segment {
    ion-segment-button {
      --color-checked: #e30b1c;
      --background-checked: #faeaea;
    }
  }

  .myData {
    margin: 20px 4%;
  }

  .myData > div > h1 {
    text-align: center;
    margin-top: 40px;
  }

  // .myData div {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100px;
  // }

  //********** My Ads Section Styling **************
  .myAds {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    height: 315px;
  }

  .myAds > img {
    width: 45%;
    object-fit: contain;
  }

  .myAds > div {
    width: 55%;
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    // gap: 10px;
    background-color: #fcf0f0;
  }

  .uploadTime {
    margin-top: 0;
  }

  .adTitle {
    font-size: 32px;
    color: #212529;
  }

  .adPrice {
    font-size: 28px;
    letter-spacing: 1px;
    color: #212529;
  }

  .currency {
    font-size: 16px;
    color: #959595;
    letter-spacing: 0;
  }

  .adBtns {
    display: flex;
    gap: 20px;
  }

  .adBtns > div {
    ion-button {
      width: 100%;
      --background: #ff5100 !important;
      text-transform: none;
      margin: 0;
      height: 45px;
      font-size: 18px;

      ion-icon {
        font-size: 18px;
        margin-right: 10px;
      }
    }
    cursor: pointer;
  }

  .viewBtn {
    display: flex;
    gap: 10px;
    padding: 0 25px;
    height: 45px;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .deleteBtn {
    display: flex;
    gap: 10px;
    padding: 0 25px;
    font-size: 18px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    background-color: #e30b1c;
    color: #fff;
    cursor: pointer;
  }

  //////////// Referrals Section //////////
  .referralsCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
  }

  .referralsCard ion-card {
    padding: 20px;
    background-color: #fcf0f0;
  }

  .referralsCard p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .userTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #484848;
  }

  .userTitle ion-icon {
    font-size: 35px;
  }

  .userTitle h1 {
    margin: 0;
    font-weight: 700;
  }

  .waBtn {
    display: flex;
    gap: 10px;
    padding: 0 25px;
    height: 45px;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
  }

  .contactBtns {
    display: flex;
    gap: 20px;
  }
}
