<ion-content>
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <ion-card class="stickyAds">
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <div>
      <ion-icon class="header_icon" name="search"></ion-icon>
      <ion-icon class="header_icon" name="notifications"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="account">
    <ion-card-header>
      <ion-card-title class="userName">
        <ion-text>{{username}}</ion-text>
        <div>
          <div class="points" (click)="goToMyPoints()">
            <p>1600</p>
            <p>My Points</p>
          </div>
          <div class="editIcon" (click)="goToProfile()">
            <ion-icon name="pencil-sharp" />
            <ion-text class="edit">Edit my account</ion-text>
          </div>
        </div>
      </ion-card-title>
      <ion-card-subtitle class="contactNum">
        <div>
          <ion-icon name="call" class="call"></ion-icon>
          <ion-text>{{mobNumber}}</ion-text>
        </div>
        <p class="referralCode">
          My Referral Code - <span> ABcDe</span>
          <ion-icon name="share-social"></ion-icon>
        </p>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-segment
    value="default"
    class="segment"
    [(ngModel)]="selectedSegment"
    (ionChange)="segmentChanged($event)"
  >
    <div class="segmentBorder">
      <ion-segment-button value="ads" default>
        <ion-label>My Ads({{myAdsCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="chats">
        <ion-label>My Chats(0)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>My Favorites({{favAdsCount}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="referrals">
        <ion-label>My Referrals (0)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="purchases">
        <ion-label>My Purchases (0)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sellings">
        <ion-label>My Sellings (0)</ion-label>
      </ion-segment-button>
    </div>
  </ion-segment>

  <div class="myData">
    <div *ngIf="selectedSegment === 'ads'">
      <h1 *ngIf="emptyMyAds">No Ads Posted Yet.</h1>
      <div *ngIf="myAds">
        <ion-card class="myAds" *ngFor="let ad of adDetails">
          <img [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]" />

          <div>
            <p class="uploadTime">20 minutes ago</p>
            <h1 class="adTitle">{{ad.adTitle}}</h1>
            <p class="adPrice">
              {{ad.itemObj.Price}} <ion-text class="currency">AED</ion-text>
            </p>
            <div class="adBtns">
              <div class="viewBtn">
                <ion-icon name="eye-sharp"></ion-icon> View
              </div>
              <div class="editBtn">
                <ion-icon name="pencil-sharp"></ion-icon>Edit
              </div>
              <div class="deleteBtn">
                <ion-icon name="trash-outline"></ion-icon> Delete
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
    <div *ngIf="selectedSegment === 'chats'"><h1>No chats added</h1></div>
    <div *ngIf="selectedSegment === 'favorites'">
      <h1 *ngIf="emptyFavAds">Empty List</h1>
      <div *ngIf="favAds">
        <ion-card class="myAds" *ngFor="let fav of favorites">
          <img
            [src]="'https://specbits.com/class2/fab/'+ fav.images[0].image_name"
          />

          <div>
            <p class="uploadTime">{{fav.timestamp}}</p>
            <h1 class="adTitle">{{fav.title}}</h1>
            <p class="adPrice">
              {{fav.price}} <ion-text class="currency">AED</ion-text>
            </p>
            <div class="adBtns">
              <div class="viewBtn">
                <ion-icon name="eye-sharp"></ion-icon> View
              </div>
              <div class="deleteBtn">
                <ion-icon name="trash-outline"></ion-icon> Remove
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
    <div *ngIf="selectedSegment === 'referrals'"><h1>0 referrals</h1></div>
    <div *ngIf="selectedSegment === 'purchases'">
      <h1>No purchase made yet.</h1>
    </div>
    <div *ngIf="selectedSegment === 'sellings'"><h1>No sellings</h1></div>
  </div>

  <!-- Footer Section -->
  <ion-footer id="footerMob">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
