$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

@media (max-width: $small-screen) {
  /************** Hiding elements in Mobile View **************/
  .topNav,
  .edit {
    display: none;
  }

  .stickyAds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 20px 0;
    box-shadow: none;
    text-align: left;
    color: #212529;
    ion-icon {
      font-size: 20px;
      color: #212529;
    }
  }

  .header_icon {
    font-size: 20px !important;
    padding: 0 5px;
    color: #212529;
  }

  .account {
    box-shadow: none !important;
    // margin: 160px 4% 30px;
  }

  .userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    color: #484848;
    margin-bottom: 30px;
  }

  .userName > div {
    display: flex;
    gap: 20px;
  }

  .points {
    display: flex;
    // border: 1px solid #484848;
    font-size: 11px;
    font-weight: 700px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
  }

  .points > p:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    background-color: #959595;
    color: #fff;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #484848;
  }

  .points > p:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    background-color: #fff;
    color: #484848;
    margin: 0;
    border: 1px solid #484848;
    border-left: 0;
    border-radius: 0 5px 5px 0;
  }

  .redeem {
    display: flex;
    align-items: center;
    border: 1px solid #484848;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700px;
    height: 40px;
    margin: 0;
    cursor: pointer;
  }

  .pointSection {
    box-shadow: none !important;
    // margin: 30px 5% 30px;
  }

  ion-row {
    font-size: 14px;
    border: 1px solid #484848;
    margin-bottom: 10px;
    color: #484848;
  }

  .slNumber {
    padding: 10px;
    background-color: #484848;
    color: #fff;
  }

  .pointsTitle {
    padding: 10px 0 10px 10px;
    font-weight: 700;
  }

  .pointsDisplay {
    padding: 10px 5px;
    font-weight: 700;
    color: #0ea74e;
  }

  .availPoints {
    text-align: center;
    color: #484848;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .pointsVal {
    text-align: center;
    color: #484848;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .enterPoints {
    border: 1px solid #484848;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #484848;
    text-align: center;
    font-size: 16px;
  }

  .submit {
    width: fit-content;
    padding: 0 10%;
    margin: auto;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007a3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media (min-width: $large-screen) {
  #footerMob,
  ion-footer,
  .stickyAds {
    display: none;
  }

  .account {
    box-shadow: none !important;
    margin: 160px 4% 30px;
  }

  .userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    color: #484848;
    margin-bottom: 30px;
  }

  .userName > div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .points {
    display: flex;
    // border: 1px solid #484848;
    font-size: 13px;
    font-weight: 700px;
    border-radius: 5px;
    height: 45px;
    cursor: pointer;
  }

  .points > p:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #959595;
    color: #fff;
    margin: 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #484848;
  }

  .points > p:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 5px;
    background-color: #fff;
    color: #484848;
    margin: 0;
    border: 1px solid #484848;
    border-left: 0;
    border-radius: 0 5px 5px 0;
  }

  .redeem {
    display: flex;
    align-items: center;
    border: 1px solid #484848;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700px;
    height: 45px;
    margin: 0;
    cursor: pointer;
  }

  .pointSection {
    box-shadow: none !important;
    margin: 30px 5% 30px;
  }

  ion-row {
    font-size: 20px;
    border: 1px solid #959595;
    margin-bottom: 10px;
    color: #484848;
  }

  .slNumber {
    padding: 20px;
    background-color: #484848;
    color: #fff;
  }

  .pointsTitle {
    padding: 20px 0 20px 10px;
    font-weight: 700;
  }

  .pointsDisplay {
    padding: 20px;
    font-weight: 700;
    color: #0ea74e;
  }

  .availPoints {
    text-align: center;
    color: #484848;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .pointsVal {
    text-align: center;
    color: #484848;
    margin-bottom: 20px;
  }

  .enterPoints {
    border: 1px solid #484848;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #484848;
    font-size: 18px;
    text-align: center;
  }

  .submit {
    width: fit-content;
    padding: 0 5%;
    margin: auto;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    background-color: #007a3d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
