<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <ion-card class="stickyAds">
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <div>
      <ion-icon class="header_icon" name="search"></ion-icon>
      <ion-icon class="header_icon" name="notifications"></ion-icon>
    </div>
  </ion-card>

  <ion-card class="account">
    <ion-card-header>
      <ion-card-title class="userName">
        <ion-text>{{username}}</ion-text>
        <div>
          <div class="points" (click)="onClickPoints()" *ngIf="showPoints" dir="ltr">
            <p>{{myPoints}}</p>
            <p>{{'myProfile.myPoints' | translate}}</p>
          </div>
          <p class="redeem" (click)="onClickRedeem()" *ngIf="showRedeem">
            {{'myAccount.redeemPoints' | translate}}
          </p>
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="showRedeem" class="pointSection"
    ><ion-grid>
      <ion-row *ngFor="let point of pointsData; let i = index">
        <ion-col size="auto" class="slNumber">{{i+1}}.</ion-col>
        <ion-col class="pointsTitle"
          >{{point.pointsFor}}{{point.adTitle}}</ion-col
        >
        <ion-col size="auto" class="pointsDisplay" *ngIf="point.credit"
          >+ {{point.credit}} pts.</ion-col
        >
        <ion-col
          size="auto"
          class="pointsDisplay"
          style="color: #e30b1c"
          *ngIf="point.debit"
          >- {{point.debit}} pts.</ion-col
        >
      </ion-row>
    </ion-grid></ion-card
  >
  <ion-card *ngIf="showPoints" class="pointSection"
    ><h1 class="availPoints">{{heading}}</h1>
    <h3 class="pointsVal">{{subHeading}}</h3>
    <div class="enterPoints">
      <ion-input type="number" [placeholder]="'myAccount.enterPoints' | translate" [(ngModel)]="inputVal"/>
    </div>
    <div class="submit" (click)="submit()">{{'myAccount.submit' | translate}}</div>
  </ion-card>

  <!-- Footer Section -->
  <ion-footer id="footerMob">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
