<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <!-- --------- Product Image and Price for Mobile ----------- -->
  <div class="prodDetailsMob">
    <ion-card class="stickyAds">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      <div>
        <ion-icon class="header_icon" name="share-social"></ion-icon>
        <ion-icon class="header_icon" name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <!-- Image -->
    <img class="imgProd" [src]="'https://specbits.com/class2/fab/'+adImage" />

    <!-- <p class="navigationProd">
      Home > Real Estate > Properties For Rent > Residential / investment >
      Villas / Houses
    </p> -->

    <div class="productTitle">
      <p class="productLabel">{{adTitle}}</p>
      <div>
        <ion-label class="price">{{price}}</ion-label>
        <ion-label class="currency">KWD</ion-label>
      </div>
    </div>

    <p class="days">{{timestamp}}</p>

    <!-- ------ Location ------------- -->
    <div class="location">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Abu Dhabi, Al Shamkha</ion-label>
    </div>

    <!-- Product Details -->
    <div style="margin-left: 10px; margin-right: 10px">
      <div class="prodDescription" *ngFor="let item of prodDetails | keyvalue">
        <p class="prodAttribute">{{item.key}} :</p>
        <p class="prodValue">{{item.value}}</p>
      </div>
    </div>
  </div>

  <!-- --------- Product Image and Price for Desktop ----------- -->
  <div class="prodDetailsDesktop">
    <!-- <p class="navigationProd">
      Home > Real Estate > Properties For Rent > Residential / investment >
      Villas / Houses
    </p> -->

    <!-- TESTING CODE FOR PROGRESS BAR -->
    <div class="progress-bar-container" *ngIf="showTimer">
      <div class="progress-bar" [ngStyle]="{ width: progressBarWidth }"></div>
    </div>
    <!-- ----------------------------- -->

    <p class="days">{{timestamp}}</p>

    <p class="productLabel">{{adTitle}}</p>
    <div class="imgAndPriceDiv">
      <div>
        <!-- Image -->
        <img
          class="imgProd"
          [src]="'https://specbits.com/class2/fab/'+adImage"
        />
      </div>
      <div>
        <div class="priceOffer">
          <div>
            <ion-label class="price">{{price}}</ion-label>
            <ion-label class="currency">KWD</ion-label>
          </div>
          <!-- <ion-card class="makeOffer">
            <ion-text>{{'makeOffer' | translate}}</ion-text>
          </ion-card> -->
        </div>

        <div class="displayContact" *ngIf="makeOfferSection">
          <div>
            <ion-button class="callDisplay" [href]="'tel:+' + adMobile">
              <ion-icon name="call"></ion-icon>
              <ion-text class="contactColor">+{{adMobile}}</ion-text>
            </ion-button>
          </div>
          <div>
            <ion-button
              class="whatsappDisplay"
              target="_blank"
              [href]="waLink + adMobile"
            >
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-text class="contactColor">WhatsApp</ion-text>
            </ion-button>
          </div>
        </div>

        <div>
          <div class="makeYourOffer" *ngIf="inputOffer">
            <ion-input
              type="number"
              [placeholder]="'makeOffer' | translate"
              [(ngModel)]="priceOffered"
            />
            <div class="sendOffer" (click)="sendOffer()">
              {{'send' | translate}}
            </div>
          </div>

          <ion-card class="buyNow" *ngIf="buyNow"
            >{{'buyNow' | translate}}</ion-card
          >

          <div *ngIf="offerPrice" style="height: 320px; overflow-y: scroll">
            <div *ngFor="let offers of offeredPriceArray, let i = index">
              <div
                class="offeredPrice"
                (click)="toggleAcceptReject(offers.offeredUserId, offers)"
              >
                <p>{{'offeredPrice' | translate}}</p>
                <p>
                  <ion-text class="pmo">{{offers.offeredPrice}}</ion-text>
                  <ion-text class="cmo">KWD</ion-text>
                </p>
              </div>
              <div
                class="offerBtn"
                *ngIf="offeredUserIdStatus[offers.offeredUserId]"
              >
                <h2>{{offers.offeredUser}}</h2>
                <div>
                  <div (click)="acceptOrRejectOffer(offers.offeredUserId, 1)">
                    {{'acceptOffer' | translate}}
                  </div>
                  <div (click)="acceptOrRejectOffer(offers.offeredUserId, 0)">
                    {{'rejectOffer' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="shareFav">
      <div (click)="favoritesToggle()">
        <!-- <ion-icon class="header_icon" name="heart-outline"></ion-icon> -->
        <ion-icon
          class="header_icon"
          [ngClass]="{'heartStyle': heart}"
          name="heart-outline"
          *ngIf="heart"
        ></ion-icon>
        <ion-icon
          class="header_icon"
          [ngClass]="{'heartRedStyle': heartRed}"
          name="heart"
          *ngIf="heartRed"
        ></ion-icon>
        <ion-text>{{checkFav}}</ion-text>
      </div>
      <div (click)="share()">
        <ion-icon class="share" name="share-social"></ion-icon>
        <ion-text>{{'sharePost' | translate}}</ion-text>
      </div>
    </div>

    <p class="productLabel">{{'details' | translate}}</p>

    <!-- ------ Location ------------- -->
    <div class="location">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Abu Dhabi ,Mohammed Bin Zayed City</ion-label>
    </div>

    <div class="itemDetails">
      <div *ngFor="let details of prodDetails | keyvalue">
        <ion-text>{{details.key}} : </ion-text>
        <ion-text>{{details.value}}</ion-text>
      </div>
    </div>
  </div>

  <!-- Produce Description -->
  <div class="description">
    <p class="descLang">{{'description' | translate}}</p>
    <p
      class="details"
      [ngStyle]="{ 'height': adDetailsHeight, 'box-shadow': bShadow, 'overflow': oFlow }"
    >
      {{adDetail}}
    </p>
  </div>
  <div class="read" *ngIf="readMore" (click)="readDetailsMore()">
    <button class="readBtn">{{'readMore' | translate}}</button>
    <ion-icon class="caret" name="caret-down"></ion-icon>
  </div>

  <div class="read" *ngIf="readLess" (click)="readDetailsLess()">
    <button class="readBtn">{{'readLess' | translate}}</button>
    <ion-icon class="caret" name="caret-up"></ion-icon>
  </div>

  <!-- ---------- Report Abuse ---------- -->
  <!-- <div class="abuseDiv">
    <ion-icon name="flag" class="flag"></ion-icon>
    <button>Report Abuse</button>
  </div> -->

  <!-- ----------- Comment -------------- -->
  <div class="commentSection" *ngIf="canComment">
    <p class="comment">{{'chat' | translate}}</p>
    <ion-textarea
      class="addComment"
      [placeholder]="'typeChat' | translate"
      type="text"
      [disabled]="commentDisabled"
      autoGrow="true"
      [(ngModel)]="commentValue"
    ></ion-textarea>
    <div class="addCommentBtn">
      <button (click)="addComment()">{{'startChat' | translate}}</button>
    </div>
  </div>

  <div *ngIf="allComments">
    <div class="seeOrHideChats">
      <div>
        <div class="seeComments" *ngIf="show" (click)="showComment()">
          <p>See Chats</p>
          <ion-icon name="caret-down"></ion-icon>
        </div>
        <div class="seeComments" *ngIf="hide" (click)="showComment()">
          <p>Hide Chats</p>
          <ion-icon name="caret-up"></ion-icon>
        </div>
      </div>
      <ion-button *ngIf="showBack" size="small" (click)="goToChatCard()"
        >Back</ion-button
      >
    </div>

    <div *ngIf="commentDisplay" class="commentWidth">
      <!-- Below div for Number of users commented on that ad -->
      <div class="commentFlow" *ngIf="chatCardDisplay">
        <ion-card
          class="chatCard"
          *ngFor="let chatUsers of chatUserList | keyvalue"
          (click)="showUserChat(chatUsers.key)"
        >
          <div>
            <ion-icon class="avatar" name="person-circle"></ion-icon>
            <div>
              <p class="users">{{chatUsers.value}}</p>
              <!-- <p class="time">{{chatUsers.time}}</p> -->
            </div>
          </div>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-card>
      </div>

      <div class="commentCard" *ngIf="commentCardDisplay">
        <!-- Comment display of certain user for certain ad -->
        <div class="commentFlowChat chatCardDisplay" #content>
          <div *ngFor="let comment of comments">
            <div class="userComment" *ngIf="comment.commenter=='owner'">
              <div>
                <div>
                  <ion-icon class="avatar" name="person-circle"></ion-icon>
                </div>

                <div>
                  <ion-text>{{comment.username}}</ion-text>
                  <p>{{comment.comment}}</p>
                </div>
              </div>
            </div>

            <div class="adminComment" *ngIf="comment.commenter=='user'">
              <div>
                <div>
                  <ion-icon class="avatar" name="person-circle"></ion-icon>
                </div>
                <div>
                  <ion-text>You</ion-text>
                  <p>{{comment.comment}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="replySection">
          <div>
            <ion-input
              type="text"
              [(ngModel)]="commentValue"
              class="reply"
              placeholder="Type a message"
            />
            <button class="replyBtn" (click)="addComment()">Reply</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------- Related Posts ------------- -->
  <div class="relatedPost">
    <p class="comment">{{'relatedPosts' | translate}}</p>
  </div>

  <!------------------------ SLIDER  ------------------>

  <!-- <div style="margin-bottom: 60px" id="stickySliderMob">
    <div>
      <div class="adsCrousel">
        <div class="adsBorder">
          <img class="imgHeight" src="assets/images/crousel_img1.jpeg" />
          <div class="dayAndHeart">
            <ion-label>2 days ago</ion-label>
            <ion-icon name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>2500</ion-label>
            <ion-label class="currency">KWD</ion-label>
          </div>
          <div class="adsButton">
            <div class="callBtn">
              <ion-icon name="call"></ion-icon>
            </div>
            <div class="whatsappBtn">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ----------------- Slider for Desktop --------------- -->
  <div id="stickySliderDesktop">
    <div *ngFor="let ad of adData; let i = index">
      <ion-card>
        <img
          (click)="goToProductDetails(ad)"
          style="cursor: pointer"
          [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
        />
        <div class="stickyContentHeight">
          <div class="dayAndHeart">
            <div>
              <ion-label>{{ad.timestamp}}</ion-label>
              <ion-label class="locationSticky">Abu Dhabi</ion-label>
            </div>

            <ion-icon
              class="heartSize"
              [ngClass]="{'heartStyle': !ad.heartRedVisible}"
              name="heart-outline"
              *ngIf="!ad.heartRedVisible"
              (click)="addToFav(ad.ad_id, i)"
            ></ion-icon>
            <ion-icon
              class="heartSize"
              [ngClass]="{'heartRedStyle': !ad.heartVisible}"
              name="heart"
              *ngIf="!ad.heartVisible"
              (click)="removeFromFav(ad.ad_id, i)"
            ></ion-icon>
          </div>
          <div (click)="goToProductDetails(ad)" style="cursor: pointer">
            <p class="adsTitle">{{ad.adTitle}}</p>
            <div class="adsPrice">
              <ion-label>{{ad.itemObj.Price}}</ion-label>
              <ion-label class="currency">KWD</ion-label>
            </div>
          </div>
        </div>
        <div class="contactSticky">
          <div>
            <ion-button class="call" [href]="'tel:+' + ad.adMobile">
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button
              class="whatsapp"
              target="_blank"
              [href]="waLink + ad.adMobile"
            >
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
          </div>

          <div>
            <ion-button
              class="sharePost"
              target="_blank"
              (click)="shareRelatedPost(ad.ad_id)"
            >
              <ion-icon name="share-social"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <!-- --------- Footer Section -------- -->

  <div class="footerDiv">
    <!-- <div>
      <ion-icon class="callIcon" name="call"></ion-icon>
      <ion-label class="contact">Call</ion-label>
    </div>
    <div>
      <ion-icon class="whatsappIcon" name="logo-whatsapp"></ion-icon>
      <ion-label class="contact">WhatsApp</ion-label>
    </div> -->

    <div>
      <ion-button class="callMob" [href]="'tel:+' + adMobile">
        <ion-icon name="call"></ion-icon>
        <ion-text class="contact">Call</ion-text>
      </ion-button>
    </div>
    <div>
      <ion-button
        class="whatsAppMob"
        target="_blank"
        [href]="waLink + adMobile"
      >
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-text class="contact">WhatsApp</ion-text>
      </ion-button>
    </div>
  </div>

  <app-floating-chat></app-floating-chat>
</ion-content>
