<ion-content>
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <!-- --------- Product Image and Price for Mobile ----------- -->
  <div class="prodDetailsMob">
    <ion-card class="stickyAds">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      <div>
        <ion-icon class="header_icon" name="share-social"></ion-icon>
        <ion-icon class="header_icon" name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <!-- Image -->
    <img class="imgProd" [src]="'https://specbits.com/class2/fab/'+adImage" />

    <p class="navigationProd">
      Home > Real Estate > Properties For Rent > Residential / investment >
      Villas / Houses
    </p>

    <div class="productTitle">
      <p class="productLabel">{{adTitle}}</p>
      <div>
        <ion-label class="price">{{price}}</ion-label>
        <ion-label class="currency">AED</ion-label>
      </div>
    </div>

    <p class="days">4 days ago</p>

    <!-- ------ Location ------------- -->
    <div class="location">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Abu Dhabi, Al Shamkha</ion-label>
    </div>

    <!-- Product Details -->
    <div style="margin-left: 10px; margin-right: 10px">
      <div class="prodDescription" *ngFor="let item of prodDetails | keyvalue">
        <p class="prodAttribute">{{item.key}} :</p>
        <p class="prodValue">{{item.value}}</p>
      </div>
    </div>
  </div>

  <!-- --------- Product Image and Price for Desktop ----------- -->
  <div class="prodDetailsDesktop">
    <p class="navigationProd">
      Home > Real Estate > Properties For Rent > Residential / investment >
      Villas / Houses
    </p>

    <p class="days">4 days ago</p>

    <p class="productLabel">{{adTitle}}</p>
    <div class="imgAndPriceDiv">
      <div>
        <!-- Image -->
        <img
          class="imgProd"
          [src]="'https://specbits.com/class2/fab/'+adImage"
        />
      </div>
      <div>
        <div class="priceOffer">
          <div>
            <ion-label class="price">{{price}}</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
          <div class="makeOffer">
            <ion-text>Make an Offer</ion-text>
          </div>
        </div>

        <div class="displayContact">
          <div>
            <ion-button class="callDisplay" [href]="'tel:+' + adMobile">
              <ion-icon name="call"></ion-icon>
              <ion-text class="contactColor">+{{adMobile}}</ion-text>
            </ion-button>
          </div>
          <div>
            <ion-button
              class="whatsappDisplay"
              target="_blank"
              [href]="waLink + adMobile"
            >
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-text class="contactColor">WhatsApp</ion-text>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

    <div class="shareFav">
      <div>
        <ion-icon class="header_icon" name="heart-outline"></ion-icon>
        <ion-text>Add to Favorites</ion-text>
      </div>
      <div>
        <ion-icon class="share" name="share-social"></ion-icon>
        <ion-text>Share this Post</ion-text>
      </div>
    </div>

    <p class="productLabel">The Details</p>

    <!-- ------ Location ------------- -->
    <div class="location">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Abu Dhabi ,Mohammed Bin Zayed City</ion-label>
    </div>

    <div class="itemDetails">
      <div *ngFor="let details of prodDetails | keyvalue">
        <ion-text>{{details.key}} : </ion-text>
        <ion-text>{{details.value}}</ion-text>
      </div>
    </div>
  </div>

  <!-- Produce Description -->
  <div class="description">
    <p class="descLang">Description</p>
    <p class="details">{{adDetail}}</p>
  </div>
  <div class="read">
    <button class="readBtn">Read more</button>
    <ion-icon class="caret" name="caret-down"></ion-icon>
  </div>

  <!-- ---------- Report Abuse ---------- -->
  <!-- <div class="abuseDiv">
    <ion-icon name="flag" class="flag"></ion-icon>
    <button>Report Abuse</button>
  </div> -->

  <!-- ----------- Comment -------------- -->
  <div class="commentSection" *ngIf="canComment">
    <p class="comment">Chat</p>
    <ion-textarea
      class="addComment"
      placeholder="Type to chat..."
      type="text"
      [disabled]="commentDisabled"
      autoGrow="true"
      [(ngModel)]="commentValue"
    ></ion-textarea>
    <div class="addCommentBtn">
      <button (click)="addComment()">Start Chat</button>
    </div>
  </div>

  <div *ngIf="allComments">
    <div class="seeComments" *ngIf="show" (click)="showComment()">
      <p>See Comments</p>
      <ion-icon name="caret-down"></ion-icon>
    </div>
    <div class="seeComments" *ngIf="hide" (click)="showComment()">
      <p>Hide Comments</p>
      <ion-icon name="caret-up"></ion-icon>
    </div>

    <div *ngIf="commentDisplay" class="commentWidth">
      <div class="commentFlow">
        <div *ngFor="let comment of comments">
          <div class="userComment" *ngIf="comment.commenter=='user'">
            <div>
              <div>
                <ion-icon class="avatar" name="person-circle"></ion-icon>
              </div>

              <div>
                <ion-text>User</ion-text>
                <p>{{comment.comment_msg}}</p>
              </div>
            </div>
          </div>

          <div class="adminComment" *ngIf="comment.commenter=='owner'">
            <div>
              <div>
                <ion-icon class="avatar" name="person-circle"></ion-icon>
              </div>
              <div>
                <ion-text>Owner</ion-text>
                <p>{{comment.comment_msg}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="replySection">
        <ion-input type="text" class="reply" placeholder="Type a message" />
        <button class="replyBtn">Reply</button>
      </div>
    </div>
  </div>

  <!-- ---------- Related Posts ------------- -->
  <div class="relatedPost">
    <p class="comment">Related Posts</p>
  </div>

  <!------------------------ SLIDER  ------------------>

  <ion-slides
    [options]="option"
    style="margin-bottom: 60px"
    id="stickySliderMob"
  >
    <ion-slide>
      <div class="adsCrousel">
        <div class="adsBorder">
          <img class="imgHeight" src="assets/images/crousel_img1.jpeg" />
          <div class="dayAndHeart">
            <ion-label>2 days ago</ion-label>
            <ion-icon name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>2500</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
          <div class="adsButton">
            <div class="callBtn">
              <ion-icon name="call"></ion-icon>
            </div>
            <div class="whatsappBtn">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="adsCrousel">
        <div class="adsBorder">
          <img class="imgHeight" src="assets/images/crousel_img1.jpeg" />
          <div class="dayAndHeart">
            <ion-label>2 days ago</ion-label>
            <ion-icon name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>2500</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
          <div class="adsButton">
            <div class="callBtn">
              <ion-icon name="call"></ion-icon>
            </div>
            <div class="whatsappBtn">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- ----------------- Slider for Desktop --------------- -->
  <ion-slides [options]="option2" id="stickySliderDesktop">
    <ion-slide>
      <ion-card>
        <img src="assets/images/crousel_img1.jpeg" />
        <div class="stickyContentHeight">
          <div class="dayAndHeart">
            <div>
              <ion-label>2 days ago</ion-label>
              <ion-label class="locationSticky">Abu Dhabi</ion-label>
            </div>

            <ion-icon class="heart" name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>25000</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
        </div>
        <div class="contactSticky">
          <div style="border-right: 1px solid #dcdcdc">
            <ion-icon name="call" class="call"></ion-icon>
          </div>
          <div>
            <ion-img
              class="whatsapp"
              src="../../../assets/images/whatsapp.png"
            />
          </div>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crousel_img1.jpeg" />
        <div class="stickyContentHeight">
          <div class="dayAndHeart">
            <div>
              <ion-label>2 days ago</ion-label>
              <ion-label class="locationSticky">Abu Dhabi</ion-label>
            </div>

            <ion-icon class="heart" name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>25000</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
        </div>
        <div class="contactSticky">
          <div style="border-right: 1px solid #dcdcdc">
            <ion-icon name="call" class="call"></ion-icon>
          </div>
          <div>
            <ion-img
              class="whatsapp"
              src="../../../assets/images/whatsapp.png"
            />
          </div>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crousel_img1.jpeg" />
        <div class="stickyContentHeight">
          <div class="dayAndHeart">
            <div>
              <ion-label>2 days ago</ion-label>
              <ion-label class="locationSticky">Abu Dhabi</ion-label>
            </div>

            <ion-icon class="heart" name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>25000</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
        </div>
        <div class="contactSticky">
          <div style="border-right: 1px solid #dcdcdc">
            <ion-icon name="call" class="call"></ion-icon>
          </div>
          <div>
            <ion-img
              class="whatsapp"
              src="../../../assets/images/whatsapp.png"
            />
          </div>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crousel_img1.jpeg" />
        <div class="stickyContentHeight">
          <div class="dayAndHeart">
            <div>
              <ion-label>2 days ago</ion-label>
              <ion-label class="locationSticky">Abu Dhabi</ion-label>
            </div>

            <ion-icon class="heart" name="heart-outline"></ion-icon>
          </div>
          <p class="adsTitle">Easy to disassemble and install</p>
          <div class="adsPrice">
            <ion-label>25000</ion-label>
            <ion-label class="currency">AED</ion-label>
          </div>
        </div>
        <div class="contactSticky">
          <div style="border-right: 1px solid #dcdcdc">
            <ion-icon name="call" class="call"></ion-icon>
          </div>
          <div>
            <ion-img
              class="whatsapp"
              src="../../../assets/images/whatsapp.png"
            />
          </div>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- --------- Footer Section -------- -->

  <div class="footerDiv">
    <div>
      <ion-icon class="callIcon" name="call"></ion-icon>
      <ion-label class="contact">Call</ion-label>
    </div>
    <div>
      <ion-icon class="whatsappIcon" name="logo-whatsapp"></ion-icon>
      <ion-label class="contact">WhatsApp</ion-label>
    </div>
  </div>

  <app-floating-chat></app-floating-chat>
</ion-content>
