<ion-content>
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>

  <!-- Inner Content -->
  <div class="planHeader">
    <h1>You only have one step left to add your ad</h1>
    <p>Choose your ad type, installed or free</p>
  </div>

  <div class="choosePlan">
    <ion-card class="card">
      <div class="cardTitle">
        <h2>Premium</h2>
      </div>

      <p>Pre Ad</p>
      <p>40 AED / 3 days</p>

      <div class="choose">Choose</div>
    </ion-card>

    <ion-card class="card">
      <div class="freeCard">
        <h2>Free</h2>
      </div>

      <p>Ad Free</p>
      <p>FREE</p>

      <div class="chooseFree">Choose</div>
    </ion-card>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
