<ion-content [dir]="'dir' | translate">
  <app-auth-system-navbar></app-auth-system-navbar>

  <div class="signupLayout">
    <div class="signupImg">
      <img src="../../../assets/images/signup.jpg" />
    </div>

    <div>
      <ion-text class="signupText">
        <h1 class="create">{{'signUp.createAccount' | translate}}</h1>
        <p>{{'signUp.validNumber' | translate}}</p>
        <p>{{'signUp.toReceive' | translate}}</p>
      </ion-text>

      <h3 *ngIf="showCode" style="text-align: center">{{'signUp.vCode' | translate}}: {{verificationCode}}</h3>

      <div class="phoneNumberLabel">
        <ion-icon name="call"></ion-icon>
        <ion-text>{{'signUp.phoneNumber' | translate}}</ion-text>
      </div>

      <div class="mobNumber" dir="ltr">
        <div class="countryCode">
          <select2
            [overlay]="overlay"
            [data]="countries"
            (search)="search('search1')"
            [(ngModel)]="selectedCountry"
            [disabled]="isSelectDisabled"
          >
          </select2>
        </div>

        <ion-input
          type="number"
          [placeholder]="'signUp.enterMobile' | translate"
          [(ngModel)]="user_mob"
          [disabled]="isInputDisabled"
        ></ion-input>
      </div>

      <div class="verify" *ngIf="isVerify">
        <ion-input
          type="text"
          [placeholder]="'signUp.enterVcode' | translate"
          [(ngModel)]="vcode"
        ></ion-input>
      </div>

      <div class="verify" *ngIf="showSendVerify">
        <ion-input
          type="text"
          [placeholder]="'signUp.enterRcode' | translate"
          [(ngModel)]="referalCode"
        ></ion-input>
      </div>

      <ion-button
        color="danger"
        expand="block"
        class="verifyBtn"
        *ngIf="showSendVerify"
        (click)="sendVerify()"
        >{{'signUp.sendVcode' | translate}}</ion-button
      >

      <ion-button
        color="danger"
        expand="block"
        class="verifyBtn"
        *ngIf="isVerify"
        (click)="verifyCode()"
        >{{'signUp.verifyCode' | translate}}</ion-button
      >
    </div>
  </div>

  <div class="footerText">
    <p>
      {{'signUp.haveAccount' | translate}}
      <ion-text class="signupDifficulty" routerLink="/login">{{'signUp.signIn' | translate}}</ion-text>
    </p>
    <p class="signupDifficulty">{{'signUp.facingDifficulty' | translate}}</p>
  </div>

  <div class="footerBottom">
    <p style="text-decoration: underline; cursor: pointer">
      {{'signUp.terms' | translate}}
    </p>
    <p>{{'signUp.copyright' | translate}}</p>
  </div>
</ion-content>
