$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

@media (max-width: $small-screen) {
  // ************* Hiding Element in Mobile View **********
  .phoneNumberLabel,
  .footerBottom > p:nth-child(2) {
    display: none;
  }
  // ***************************************************

  .header_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 0px 0px;
    padding: 5px 10px 10px;
  }

  .header_card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    color: #007bff;
  }

  #fabLogoImg {
    width: 70px;
    height: 40px;
  }

  .signupImg {
    width: 100%;
  }

  .signupImg > img {
    height: 200px;
    width: 100%;
    object-fit: scale-down;
  }

  .create {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
  }

  p {
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
  }

  .mobNumber {
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 45px;
    color: #484848;
    font-size: 12px;
    margin: 30px 20px;
  }

  .flags {
    width: 15px;
    height: 15px;
  }

  .countryCode {
    border: 1px solid #eee;
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .verify {
    border: 1px solid #eee;
    height: 45px;
    font-size: 12px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
  }

  .verifyBtn {
    margin: 0 20px;
    font-size: 12px;
    text-transform: none;
    background-color: #e30b1c;
    border-radius: 5px;
  }

  .signupDifficulty {
    color: #e30b1c;
    text-decoration: underline;
  }

  .footerText {
    font-size: 12px;
  }

  .footerText > p {
    margin: 25px 0;
  }
}

/******************* Styling for large screens ***************/

@media (min-width: $large-screen) {
  .header_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px, rgba(0, 0, 0, 0.5) 0px 0px 0px;
    padding: 5px 4% 10px;
  }

  .header_card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
  }

  #fabLogoImg {
    width: 130px;
    height: 60px;
    cursor: pointer;
  }

  .signupLayout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .signupLayout > div {
    width: 50%;
    // height: 600px;
    padding: 20px 0 0;
    text-align: center;
  }

  .signupLayout > div:nth-child(2) {
    padding-top: 80px;
    padding-left: 7%;
    padding-right: 7%;
  }

  .signupImg {
    display: flex;
    justify-content: center;
  }

  .signupImg > img {
    object-fit: contain;
    width: 100%;
  }

  .create {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 30px;
    color: #212529;
  }

  .signupText > p {
    font-size: 14px;
    color: #212529;
    letter-spacing: 1px;
  }

  .phoneNumberLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #212529;
    margin: 50px 0 10px;
  }

  .mobNumber {
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    color: #484848;
    font-size: 18px;
    text-align: left;
  }

  .flags {
    width: 15px;
    height: 15px;
  }

  .countryCode {
    border-right: 1px solid #eee;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .verify {
    width: 100%;
    border: 1px solid #eee;
    height: 60px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 15px;
  }

  .verifyBtn {
    margin: 50px 0 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    background-color: #e30b1c;
    border-radius: 5px;
    height: 60px;
  }

  .footerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 7%;
    font-size: 14px;
  }

  .signupDifficulty {
    color: #e30b1c;
    text-decoration: underline;
    cursor: pointer;
  }

  .footerBottom {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #f7f8f7;
    font-size: 14px;
  }
}
