<ion-content>
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">Add new advertisement</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>Back</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle">Personal Information</ion-card-title>
      </ion-card-header>

      <ion-card-content class="selectOption">
        <ion-text>Phone Number</ion-text>

        <div class="mobNumber">
          <div class="countryCode">
            <select2
              [overlay]="overlay"
              [data]="countries"
              (search)="search('search1')"
              [(ngModel)]="selectedCountry"
            >
            </select2>
          </div>
          <ion-input
            type="text"
            placeholder="Enter a mobile number"
            [(ngModel)]="user_mob"
          ></ion-input>
        </div>

        <ion-button
          class="nextBtn"
          color="danger"
          expand="block"
          (click)="postMyAd()"
          >Post my Ad</ion-button
        >
      </ion-card-content>
    </ion-card>

    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    id="floatingChatIcon"
  >
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab>
</ion-content>
