<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">{{'addNewAd' | translate}}</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>{{'back' | translate}}</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle"
          >{{'personalInfo' | translate}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="selectOption">
        <ion-text>{{'phoneNumber' | translate}}</ion-text>

        <div class="mobNumber" dir="ltr">
          <div class="countryCode">
            <select2
              [overlay]="overlay"
              [data]="countries"
              (search)="search('search1')"
              [(ngModel)]="selectedCountry"
            >
            </select2>
          </div>
          <ion-input
            type="text"
            [placeholder]="'enterMobNumber' | translate"
            [(ngModel)]="user_mob"
          ></ion-input>
        </div>

        <ion-button
          class="nextBtn"
          color="danger"
          expand="block"
          (click)="postMyAd()"
          >{{'postMyAd' | translate}}</ion-button
        >
      </ion-card-content>
    </ion-card>

    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
