<ion-content>
  <ion-card class="ion-no-margin header_card">
    <ion-img
      id="fabLogoImg"
      src="../../../assets/images/fabLogo.png"
      (click)="goToHome()"
    ></ion-img>
    <div>
      <ion-text>English</ion-text>
      <ion-icon name="caret-down"></ion-icon>
    </div>
  </ion-card>

  <div class="signupLayout">
    <div class="signupImg">
      <img src="../../../assets/images/signup.jpg" />
    </div>

    <div>
      <ion-text class="signupText">
        <h1 class="create">Change Password</h1>
        <p>To get a new password, enter your phone number</p>
      </ion-text>

      <div class="phoneNumberLabel">
        <ion-icon name="call"></ion-icon>
        <ion-text>Phone Number</ion-text>
      </div>

      <div class="mobNumber">
        <div class="countryCode">
          <select2
            [overlay]="overlay"
            [data]="countries"
            (search)="search('search1')"
            [(ngModel)]="selectedCountry"
          >
          </select2>
        </div>

        <ion-input
          type="text"
          placeholder="Enter a phone number"
          [(ngModel)]="user_mob"
          [disabled]="isInputDisabled"
        ></ion-input>
      </div>

      <ion-button
        color="danger"
        expand="block"
        class="verifyBtn"
        *ngIf="showSendVerify"
        (click)="resetPasswordValidation()"
        >Send the verification code</ion-button
      >

      <!------------ Verify Code ---------- -->
      <div class="verify" *ngIf="isVerify">
        <ion-input
          type="text"
          placeholder="Enter verification code"
          [(ngModel)]="vcode"
        ></ion-input>
      </div>

      <ion-button
        color="danger"
        expand="block"
        class="verifyBtn"
        *ngIf="isVerify"
        (click)="verifyCode()"
        >Verify Code</ion-button
      >

      <!-- ----------------------------------- -->

      <!------------ RESET Password ---------- -->
      <div class="verify" *ngIf="showResetPassword">
        <ion-input
          type="text"
          placeholder="Enter new Password"
          [(ngModel)]="user_pwd1"
        ></ion-input>
      </div>

      <div class="verify" *ngIf="showResetPassword">
        <ion-input
          type="text"
          placeholder="Confirm Password"
          [(ngModel)]="user_pwd2"
        ></ion-input>
      </div>

      <ion-button
        color="danger"
        expand="block"
        class="verifyBtn"
        *ngIf="showResetPassword"
        (click)="resetPassword()"
        >Reset Password</ion-button
      >
      <!-- ---------------------------------- -->
    </div>
  </div>

  <div class="footerText">
    <p>
      <ion-text class="signupDifficulty" routerLink="/login">Sign in</ion-text>
    </p>
    <p class="signupDifficulty">Are you facing any problem or difficulties?</p>
  </div>

  <div class="footerBottom">
    <p style="text-decoration: underline; cursor: pointer">
      Terms of Use and Privacy Policy
    </p>
    <p>Copyright © fab.net 2023 All Rights Reserved</p>
  </div>
</ion-content>
