<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  id="floatingChatIcon"
  (click)="openFloatingChat()"
>
  <ion-icon name="chatbubble"></ion-icon>
  <ion-text class="chatCount">{{chatCount}}</ion-text>
</ion-fab>

<div class="accountDropdown" *ngIf="onDropdownSelect">
  <div>
    <div class="chatAdmin">
      <h1>Chat With Admin</h1>
      <ion-icon
        name="close-circle-outline"
        class="close"
        (click)="dismissSideMenu()"
      ></ion-icon>
    </div>

    <div class="chatMessages">
      <div class="commentFlow" #content>
        <div *ngFor="let chat of chats">
          <!-- <div *ngFor="let comment of comments"> -->
          <div class="adminComment" *ngIf="chat.sender == 'admin'">
            <!-- <div class="userComment" *ngIf="comment.commenter=='user'"> -->
            <div>
              <div>
                <ion-icon class="avatar" name="person-circle"></ion-icon>
              </div>

              <div>
                <ion-text>Admin</ion-text>
                <p>{{chat.message}}</p>
              </div>
            </div>
          </div>

          <div class="userComment" *ngIf="chat.sender == 'user'">
            <div>
              <div>
                <ion-icon class="avatar" name="person-circle"></ion-icon>
              </div>
              <div>
                <ion-text>You</ion-text>
                <p>{{chat.message}}</p>
              </div>

              <span class="uChatStatus">{{chat.status}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sendMessage">
      <ion-input
        type="text"
        [(ngModel)]="chatMsg"
        placeholder="Type a message..."
        (keyup.enter)="sendChat()"
      />
      <div (click)="sendChat()">
        <ion-text>Send</ion-text>
      </div>
    </div>
  </div>
</div>
