$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

@media (max-width: $small-screen) {
  // *********** Floating Chat Icon
  #floatingChatIcon {
    margin: 33px 10px;
    position: fixed;
    background-color: #d90036;
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


/******************* Styling for large screens ***************/

@media (min-width: $large-screen) {

#floatingChatIcon {
  // margin: 33px 10px;
  position: fixed;
  right: 55px;
  bottom: 25px;
  background-color: #d90036;
  color: #fff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
}