<ion-footer>
  <div class="footerIcons">
    <div (click)="goToHome()">
      <div>
        <ion-icon name="home"></ion-icon>
      </div>
      <p class="icon_title">Home</p>
    </div>

    <div>
      <div>
        <ion-icon name="person-circle"></ion-icon>
      </div>
      <p class="icon_title">My account</p>
    </div>

    <div id="addButton">
      <div id="addIcon" (click)="goToAddNewAd()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </div>
      <p class="icon_title" style="padding-top: 20px">Add your ad</p>
    </div>

    <div>
      <div>
        <ion-icon name="chatbubbles"></ion-icon>
      </div>
      <p class="icon_title">Chats</p>
    </div>

    <div>
      <div>
        <ion-icon name="menu"></ion-icon>
      </div>
      <p class="icon_title">More</p>
    </div>
  </div>
</ion-footer>
