<ion-footer>
  <div class="footerIcons">
    <div (click)="goToHome()">
      <div>
        <ion-icon name="home"></ion-icon>
      </div>
      <p class="icon_title">Home</p>
    </div>

    <div (click)="goToMyAccount()">
      <div>
        <ion-icon name="person-circle"></ion-icon>
      </div>
      <p class="icon_title">My account</p>
    </div>

    <div id="addButton">
      <div id="addIcon" (click)="goToAddNewAd()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </div>
      <p class="icon_title" style="padding-top: 20px">Add your ad</p>
    </div>

    <div (click)="goToChats()">
      <div>
        <ion-icon name="chatbubbles"></ion-icon>
      </div>
      <p class="icon_title">Chats</p>
    </div>

    <div (click)="showMore()">
      <div>
        <ion-icon name="menu"></ion-icon>
      </div>
      <p class="icon_title">More</p>
    </div>
  </div>
</ion-footer>

<div class="moreSection" *ngIf="more">
  <ion-card class="welcome">
    <ion-text>Welcome {{username}}</ion-text>
    <ion-icon name="close-circle-outline" (click)="closeMore()"></ion-icon>
  </ion-card>

  <ion-card class="logout" (click)="logout()">
    <ion-text>Logout</ion-text>
    <ion-icon name="exit-outline"></ion-icon>
  </ion-card>
</div>
