$small-screen: 576px;

@media (max-width: $small-screen) {
  /************* Footer **********/
  ion-Footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    .footerIcons {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 10px 0 5px;
      text-align: center;
      color: #484848;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      ion-icon {
        color: #6c757d;
      }

      p {
        margin: 3px;
      }
    }

    .footerIcons > div {
      width: 25%;
    }
  }

  #addIcon {
    background-color: #e30b1c;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    position: absolute;
    top: -28px;
  }

  #addButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icon_title {
    font-size: 10px;
    text-align: center;
  }

  .moreSection {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    padding: 30px 4%;
    color: #1c1d1f;
  }

  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    margin-bottom: 30px;
    border-bottom: 1px solid #d6d3d3;
    padding-bottom: 15px;
  }

  .welcome > ion-text {
    font-size: 18px;
    font-weight: 700;
  }

  .welcome > ion-icon {
    font-size: 28px;
  }

  .logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
  }

  .logout > ion-text {
    font-size: 18px;
    font-weight: normal;
  }

  .logout > ion-icon {
    font-size: 32px;
    color: #e30b1c;
  }

  .active ion-icon,
  .active p {
    color: #e30b1c !important;
  }
}
