<ion-content [dir]="'dir' | translate">
  <app-auth-system-navbar></app-auth-system-navbar>

  <div class="loginLayout">
    <div class="loginImg">
      <img src="../../../assets/images/signup.jpg" />
    </div>

    <div>
      <h1 class="create">{{'loginPage.signIn' | translate}}</h1>

      <div class="phoneNumberLabel">
        <ion-icon name="call"></ion-icon>
        <ion-text>{{'loginPage.phoneNumber' | translate}}</ion-text>
      </div>

      <div class="mobNumber" dir="ltr">
        <div class="countryCode">
          <select2
            [overlay]="overlay"
            [data]="countries"
            (search)="search('search1')"
            [(ngModel)]="selectedCountry"
          >
          </select2>
        </div>
        <ion-input
          type="number"
          [placeholder]="'loginPage.enterMobile' | translate"
          [(ngModel)]="user_mob"
        ></ion-input>
      </div>

      <div class="phoneNumberLabel">
        <ion-icon name="key"></ion-icon>
        <ion-text>{{'loginPage.password' | translate}}</ion-text>
      </div>

      <div class="passwordField">
        <ion-input
          [type]="typePassword"
          [(ngModel)]="user_pwd"
          [placeholder]="'loginPage.enterPassword' | translate"
          (keyup.enter)="loginUser()"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye"
          *ngIf="showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
        <ion-icon
          slot="end"
          name="eye-off"
          *ngIf="!showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </div>

      <p class="forgotPassword" routerLink="/forgot-password">
        {{'loginPage.forgotPassword' | translate}}
      </p>

      <ion-button
        color="danger"
        expand="block"
        class="signinBtn"
        (click)="loginUser()"
        >{{'loginPage.signIn' | translate}}</ion-button
      >
    </div>
  </div>

  <div class="footerText">
    <p>
      {{'loginPage.noAccount' | translate}}
      <ion-text class="signinDifficulty" routerLink="/signup"
        >{{'loginPage.createAccount' | translate}}</ion-text
      >
    </p>
    <p class="signinDifficulty">{{'loginPage.facingDifficulty' | translate}}</p>
  </div>

  <div class="footerBottom">
    <p style="text-decoration: underline; cursor: pointer">
      {{'loginPage.terms' | translate}}
    </p>
    <p>{{'loginPage.copyright' | translate}}</p>
  </div>
</ion-content>
