<ion-content>
  <app-auth-system-navbar></app-auth-system-navbar>

  <div class="loginLayout">
    <div class="loginImg">
      <img src="../../../assets/images/signup.jpg" />
    </div>

    <div>
      <h1 class="create">Sign in</h1>

      <div class="phoneNumberLabel">
        <ion-icon name="call"></ion-icon>
        <ion-text>Phone Number</ion-text>
      </div>

      <div class="mobNumber">
        <div class="countryCode">
          <select2
            [overlay]="overlay"
            [data]="countries"
            (search)="search('search1')"
            [(ngModel)]="selectedCountry"
          >
          </select2>
        </div>
        <ion-input
          type="number"
          placeholder="Enter a mobile number"
          [(ngModel)]="user_mob"
        ></ion-input>
      </div>

      <div class="phoneNumberLabel">
        <ion-icon name="key"></ion-icon>
        <ion-text>Password</ion-text>
      </div>

      <div class="passwordField">
        <ion-input
          [type]="typePassword"
          [(ngModel)]="user_pwd"
          placeholder="Enter the password"
          (keyup.enter)="loginUser()"
        ></ion-input>
        <ion-icon
          slot="end"
          name="eye"
          *ngIf="showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
        <ion-icon
          slot="end"
          name="eye-off"
          *ngIf="!showPassword"
          (click)="togglePasswordVisibility()"
        ></ion-icon>
      </div>

      <p class="forgotPassword" routerLink="/forgot-password">
        Forgot your password?
      </p>

      <ion-button
        color="danger"
        expand="block"
        class="signinBtn"
        (click)="loginUser()"
        >Sign in</ion-button
      >
    </div>
  </div>

  <div class="footerText">
    <p>
      Don't have an account?
      <ion-text class="signinDifficulty" routerLink="/signup"
        >Create your account now</ion-text
      >
    </p>
    <p class="signinDifficulty">Are you facing any problem or difficulties?</p>
  </div>

  <div class="footerBottom">
    <p style="text-decoration: underline; cursor: pointer">
      Terms of Use and Privacy Policy
    </p>
    <p>Copyright © fab.net 2023 All Rights Reserved</p>
  </div>
</ion-content>
