<ion-content>
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <ion-card class="navigationAndSearch">
    <div>
      <p>Home > Newest</p>
      <div class="searchFor">
        <ion-input placeholder="Search Keyword" />
        <ion-icon class="searchIcon" name="search"></ion-icon>
      </div>
    </div>
  </ion-card>

  <ion-card class="stickyCat">
    <div class="stickyCatTitle">You have 65358 All/Newest in All Cities</div>
  </ion-card>

  <ion-card class="stickyAds">
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <div>
      <ion-icon class="header_icon" name="search"></ion-icon>
      <ion-icon class="header_icon" name="notifications"></ion-icon>
    </div>
  </ion-card>

  <ion-label class="navigation">Home > Real Estate</ion-label>

  <div class="searchForMob">
    <ion-input placeholder="Search Keyword" />
    <ion-icon class="searchIcon" name="search"></ion-icon>
  </div>

  <ion-card class="stickyAds">
    <ion-label>You have 25555 Real Estate in all cities</ion-label>
    <div id="chngProdView"><ion-icon name="list"></ion-icon></div>
  </ion-card>

  <!-- tabs scroll code here -->
  <div class="tabs">
    <ion-label class="tabsSlide">Real Estate property</ion-label>
    <ion-label class="tabsSlide">Real Estate property</ion-label>
    <ion-label class="tabsSlide">Real Estate property</ion-label>
  </div>

  <!-- infinite scroll tabs -->
  <ion-content>
    <ion-list *ngFor="let item of items; let index">
      <div class="productDisplay">
        <div
          class="adsCrousel"
          routerLink="/product-details"
          *ngFor="let image of imageUrl"
        >
          <div class="adsBorder">
            <div class="prodImgAndDetails">
              <div class="prodImage">
                <img class="imgHeight" [src]="image" />
              </div>

              <div class="productDetails">
                <div class="dayAndHeart">
                  <ion-label>2 days ago</ion-label>
                  <ion-icon name="heart-outline"></ion-icon>
                </div>
                <p class="adsTitle">Easy to disassemble and install</p>
                <div class="adsPrice">
                  <ion-label>2500</ion-label>
                  <ion-label class="currency">AED</ion-label>
                </div>
              </div>
            </div>

            <div class="adsButton">
              <div class="callBtn">
                <ion-icon name="call"></ion-icon>
              </div>
              <div class="whatsappBtn">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-infinite-scroll>
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <!-- Footer Section -->
  <ion-footer id="footer">
    <div class="footerIcons">
      <div>
        <div>
          <ion-icon name="home"></ion-icon>
        </div>
        <p class="icon_title">Home</p>
      </div>

      <div>
        <div>
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <p class="icon_title">My account</p>
      </div>

      <div id="addButton">
        <div id="addIcon">
          <ion-icon name="close-outline" color="light"></ion-icon>
        </div>
        <p class="icon_title" style="padding-top: 20px">Add your ad</p>
      </div>

      <div>
        <div>
          <ion-icon name="chatbubbles"></ion-icon>
        </div>
        <p class="icon_title">Chats</p>
      </div>

      <div>
        <div>
          <ion-icon name="menu"></ion-icon>
        </div>
        <p class="icon_title">More</p>
      </div>
    </div>
  </ion-footer>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    id="floatingChatIcon"
  >
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab>
</ion-content>
