<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->
  <app-navbar class="topNav"></app-navbar>
  <!-- ------------------------------------------------ -->

  <!-- <ion-card class="navigationAndSearch" style="display: none">
    <div>
      <ion-breadcrumbs>
        <ion-breadcrumb
          *ngFor="let breadcrumb of breadcrumbs"
          [href]="breadcrumb.link"
        >
          {{ breadcrumb.title }}
        </ion-breadcrumb>
      </ion-breadcrumbs>
      <div class="searchFor">
        <ion-input [placeholder]="'searchKeyword' | translate" />
        <ion-icon class="searchIcon" name="search"></ion-icon>
      </div>
    </div>
  </ion-card> -->

  <ion-card class="stickyCat">
    <div class="stickyCatTitle">
      <!-- {{'youHave' | translate}} {{totalAds}} {{'homeData.'+categoryTitle |
      translate}} {{'inCities' | translate}} -->
      You have {{totalAds}} {{categoryTitle}} in all cities
    </div>
  </ion-card>

  <ion-card class="stickyAds">
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <div>
      <ion-icon class="header_icon" name="search"></ion-icon>
      <ion-icon class="header_icon" name="notifications"></ion-icon>
    </div>
  </ion-card>

  <!-- <ion-breadcrumbs class="navigation">
    <ion-breadcrumb href="" *ngFor="let bread of breadcrumbs"
      >{{bread}}</ion-breadcrumb
    >
  </ion-breadcrumbs> -->

  <div class="searchForMob">
    <ion-input placeholder="Search Keyword" />
    <ion-icon class="searchIcon" name="search"></ion-icon>
  </div>

  <ion-card class="stickyAds">
    <ion-label>You have {{totalAds}} {{categoryTitle}} in all cities</ion-label>
    <div id="chngProdView"><ion-icon name="list"></ion-icon></div>
  </ion-card>

  <!-- tabs scroll code here -->
  <div class="tabScroll">
    <div class="tabs">
      <ion-label
        class="tabsSlide"
        *ngFor="let category of categories"
        (click)="goToSticky(category.cid, category.title, category.parent, category.slug)"
      >
        <ion-label *ngIf="english">{{category.title}}</ion-label>
        <ion-label *ngIf="arabic">{{category.arabic}}</ion-label>
      </ion-label>
      <ion-icon name="chevron-back" class="arrowBack"></ion-icon>
      <ion-icon name="chevron-forward" class="arrowForward"></ion-icon>
    </div>
  </div>

  <div class="productDisplay">
    <div class="adsBorder" *ngFor="let ad of adDetails; let i=index">
      <div class="prodImgAndDetails">
        <div
          class="prodImage"
          (click)="goToProductDetails(ad)"
          style="cursor: pointer"
        >
          <img
            class="imgHeight"
            [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
          />
        </div>

        <div class="productDetails">
          <div class="dayAndHeart">
            <ion-label dir="ltr">{{ad.timestamp}}</ion-label>
            <ion-icon
              class="heartSize"
              [ngClass]="{'heartStyle': !ad.heartRedVisible}"
              name="heart-outline"
              *ngIf="!ad.heartRedVisible"
              (click)="addToFavorites(ad.ad_id, i)"
            ></ion-icon>
            <ion-icon
              class="heartSize"
              [ngClass]="{'heartRedStyle': !ad.heartVisible}"
              name="heart"
              *ngIf="!ad.heartVisible"
              (click)="removeFromFavorites(ad.ad_id, i)"
            ></ion-icon>
          </div>
          <div (click)="goToProductDetails(ad)" style="cursor: pointer">
            <p class="adsTitle">{{ad.adTitle}}</p>
            <div class="adsPrice">
              <ion-label>{{ad.itemObj.Price}}</ion-label>
              <ion-label class="currency">KWD</ion-label>
            </div>
          </div>
        </div>
      </div>

      <div class="contactSticky">
        <div>
          <ion-button class="call" [href]="'tel:+' + ad.adMobile">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </div>
        <div>
          <ion-button
            class="whatsapp"
            target="_blank"
            [href]="waLink + ad.adMobile"
          >
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </div>

        <div>
          <ion-button class="share" target="_blank" (click)="share(ad.ad_id)">
            <ion-icon name="share-social"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <ion-footer id="footer">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
