<ion-content>
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">Add new advertisement</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>Back</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle">{{catTitle}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="selectOption">
        <div *ngFor="let item of items">
          <!-- <div [innerHTML]="item | safeHtml"></div> -->
          <div *ngIf="item.selectType" class="selectStyle">
            <ion-text>{{item.label}}</ion-text>
            <!-- <select [(ngModel)]="item.value">
              <option
                *ngFor="let option of item.optionElement"
                [value]="option"
              >
                {{option}}
              </option>
            </select> -->

            <select2
              [overlay]="overlay"
              [data]="item.optionElement"
              (search)="search('search1')"
              [(ngModel)]="item.value"
              placeholder="Select"
              class="selecStyle"
            >
            </select2>
          </div>
          <div *ngIf="item.inputType" class="inputStyle">
            <ion-text>{{item.label}}</ion-text>
            <input [placeholder]="item.label" [(ngModel)]="item.value" />
          </div>

          <div *ngIf="item.checkType" class="checkStyle">
            <ion-checkbox slot="start" [(ngModel)]="item.value"></ion-checkbox>
            <ion-text>{{item.label}}</ion-text>
          </div>

          <div *ngIf="item.radioType" class="checkStyle">
            <ion-radio slot="start" [(ngModel)]="item.value"></ion-radio>
            <ion-text>{{item.label}}</ion-text>
          </div>

          <div *ngIf="item.textArea" class="inputStyle">
            <ion-text>{{item.label}}</ion-text>
            <ion-textarea
              type="text"
              autoGrow="true"
              slot="start"
              class="textArea"
              [placeholder]="item.label"
              [(ngModel)]="item.value"
            ></ion-textarea>
          </div>
        </div>

        <ion-button
          class="nextBtn"
          color="danger"
          expand="block"
          *ngIf="showNextBtn"
          (click)="goToNextStep()"
          >Next Step</ion-button
        >
      </ion-card-content>
    </ion-card>

    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
