<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>

  <!------------------------------>
  <ion-card class="ion-no-margin header_card">
    <ion-card-header>
      <ion-img
        id="fabLogoImg"
        src="../../../assets/images/fabLogo.png"
      ></ion-img>
      <div>
        <ion-icon
          class="header_icon"
          name="search"
          (click)="goToStickyAds(0, 'all-newest')"
        ></ion-icon>
        <ion-icon class="header_icon" name="notifications"></ion-icon>
      </div>
    </ion-card-header>
    <div id="header_tabs">
      <div
        class="compSelect"
        id="homePageTab"
        (click)="onHomeClick()"
        [ngClass]="{'clicked': onHomeSelect, 'select': homeNotSelect}"
      >
        Home Page
      </div>
      <div
        id="commercialTab"
        class="compSelect"
        (click)="onCommercialClick()"
        [ngClass]="{'clicked': onCommercialSelect}"
      >
        Commercial ads
      </div>
    </div>
  </ion-card>

  <!-- ---------- Crousel --------- -->
  <div id="homeTab">
    <div class="crousel" *ngIf="homeTabComponent">
      <ion-slides [options]="option" class="topCrousel">
        <ion-slide *ngFor="let ad of adDetails">
          <ion-card>
            <ion-img
              [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
            />
          </ion-card>
        </ion-slide>
      </ion-slides>

      <!------------  SEARCH SECTION ------------>
      <ion-card class="search">
        <div class="searchTitle">
          <ion-icon class="searchIcon" name="search"></ion-icon>
          <ion-text>{{'homeData.searchHere' | translate}}</ion-text>
        </div>
        <div class="searchFor">
          <ion-input [placeholder]="'homeData.searchFor' | translate" />
          <ion-icon class="searchIcon" name="search"></ion-icon>
        </div>
        <!-- <div class="selectCategory">
          <select2
            [overlay]="overlay"
            [data]="searchCategories"
            (search)="search('search1')"
            placeholder="Category For"
          >
          </select2>
        </div> -->

        <ion-select
          interface="popover"
          class="selectCategory"
          [placeholder]="'homeData.categoryFor' | translate"
        >
          <ion-select-option *ngFor="let category of categories" class="sel"
            >{{ category.title }}</ion-select-option
          >
        </ion-select>

        <ion-select
          interface="popover"
          class="selectCategory"
          [placeholder]="'homeData.city' | translate"
        >
          <ion-select-option>Delhi</ion-select-option>
          <ion-select-option>Mumbai</ion-select-option>
          <ion-select-option>Kolkata</ion-select-option>
          <ion-select-option>Chennai</ion-select-option>
          <ion-select-option>Hyderabad</ion-select-option>
          <ion-select-option>Ahmedabad</ion-select-option>
          <ion-select-option>Lucknow</ion-select-option>
          <ion-select-option>Rachi</ion-select-option>
          <ion-select-option>Patna</ion-select-option>
        </ion-select>

        <div class="searchBtn">{{'homeData.search' | translate}}</div>
      </ion-card>
    </div>

    <div class="grid homeTabComponent" *ngIf="homeTabComponent">
      <!-- <div class="grid" *ngIf="showHomeContent"> -->
      <div
        (click)="goToSticky(category.cid, category.title)"
        *ngFor="let category of categories"
      >
        <ion-card class="icons" [innerHTML]="category.icon | safeHtml">
        </ion-card>
        <p class="icon_title">{{category.title}}</p>
      </div>
    </div>
  </div>
  <!-- ------- COMMERCIAL ADS SECTION for Desktop --------- -->
  <div class="commercial">
    <ion-card class="commercialAdsTitle">
      <div>
        <ion-icon style="font-size: 28px" name="megaphone"></ion-icon>
        <ion-text>{{'homeData.commercialAds' | translate}}</ion-text>
      </div>
      <div
        style="color: #007bff; cursor: pointer"
        (click)="goToCommercialAds()"
      >
        <ion-text>{{'homeData.readMore' | translate}}</ion-text>
        <ion-icon style="font-size: 24px" name="chevron-forward"></ion-icon>
      </div>
    </ion-card>

    <div class="commercialSlide">
      <div *ngFor="let ad of adDetails">
        <ion-card>
          <img
            style="cursor: pointer"
            [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
          />
          <!-- <div class="contactCommercial">
            <div style="border-right: 1px solid #dcdcdc">
              <ion-button
                class="whatsapp"
                target="_blank"
                [href]="waLink + ad.adMobile"
              >
                <ion-text class="contactColor">WhatsApp</ion-text>
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>
            <div>
              <ion-button class="call" [href]="'tel:+' + ad.adMobile">
                <ion-text class="contactColor">Call</ion-text>
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </div>
          </div> -->

          <div class="contactSticky">
            <div>
              <ion-button class="call" [href]="'tel:+' + ad.adMobile">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </div>
            <div>
              <ion-button
                class="whatsapp"
                target="_blank"
                [href]="waLink + ad.adMobile"
              >
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>

            <div>
              <ion-button class="share" target="_blank">
                <ion-icon name="share-social"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- ---------- STICKY ADS for Desktop -------------- -->
  <div class="commercial">
    <ion-card class="commercialAdsTitle">
      <div>
        <ion-icon style="font-size: 28px" name="flash"></ion-icon>
        <ion-text>{{'homeData.stickyAds' | translate}}</ion-text>
      </div>
      <div
        style="color: #007bff; cursor: pointer"
        (click)="goToStickyAds(0, 'all-newest')"
      >
        <ion-text>{{'homeData.readMore' | translate}}</ion-text>
        <ion-icon style="font-size: 28px" name="chevron-forward"></ion-icon>
      </div>
    </ion-card>

    <div class="stickySlide">
      <div *ngFor="let ad of adDetails; let i = index">
        <ion-card>
          <img
            (click)="goToProductDetails(ad)"
            style="cursor: pointer"
            [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
          />
          <div class="stickyContentHeight">
            <div class="dayAndHeart">
              <div>
                <ion-label>{{ad.timestamp}}</ion-label>
                <ion-label class="locationSticky">Abu Dhabi</ion-label>
              </div>

              <ion-icon
                class="heartSize"
                [ngClass]="{'heartStyle': !ad.heartRedVisible}"
                name="heart-outline"
                *ngIf="!ad.heartRedVisible"
                (click)="addToFavorites(ad.ad_id, i)"
              ></ion-icon>
              <ion-icon
                class="heartSize"
                [ngClass]="{'heartRedStyle': !ad.heartVisible}"
                name="heart"
                *ngIf="!ad.heartVisible"
                (click)="removeFromFavorites(ad.ad_id, i)"
              ></ion-icon>
            </div>
            <div (click)="goToProductDetails(ad)" style="cursor: pointer">
              <p class="adsTitle">{{ad.adTitle}}</p>
              <div class="adsPrice">
                <ion-label>{{ad.itemObj.Price}}</ion-label>
                <ion-label class="currency">AED</ion-label>
              </div>
            </div>
          </div>
          <div class="contactSticky">
            <div>
              <ion-button class="call" [href]="'tel:+' + ad.adMobile">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </div>
            <div>
              <ion-button
                class="whatsapp"
                target="_blank"
                [href]="waLink + ad.adMobile"
              >
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>

            <div>
              <ion-button
                class="share"
                target="_blank"
                (click)="share(ad.ad_id)"
              >
                <ion-icon name="share-social"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- --------- Sticky Ads for Mobile --------- -->
  <div id="stickyTab" *ngIf="homeTabComponent">
    <!-- <div id="stickyTab" *ngIf="showHomeContent"> -->
    <ion-card id="stickyAds">
      <ion-label>Sticky Ads</ion-label>
      <ion-icon
        name="arrow-forward-outline"
        (click)="goToStickyAds(0, 'all-newest')"
      ></ion-icon>
    </ion-card>

    <!------------------------ SLIDER  ------------------>

    <ion-slides
      [options]="option3"
      style="margin-bottom: 60px"
      id="stickySlider"
    >
      <ion-slide *ngFor="let ad of adDetails; let i = index">
        <div class="adsCrousel">
          <div class="adsBorder">
            <img
              class="imgHeight"
              (click)="goToProductDetails(ad)"
              [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
            />
            <div class="dayAndHeart">
              <ion-label>{{ad.timestamp}}</ion-label>
              <ion-icon
                class="heartSize"
                [ngClass]="{'heartStyle': !ad.heartRedVisible}"
                name="heart-outline"
                *ngIf="!ad.heartRedVisible"
                (click)="addToFavorites(ad.ad_id, i)"
              ></ion-icon>
              <ion-icon
                class="heartSize"
                [ngClass]="{'heartRedStyle': !ad.heartVisible}"
                name="heart"
                *ngIf="!ad.heartVisible"
                (click)="removeFromFavorites(ad.ad_id, i)"
              ></ion-icon>
            </div>
            <p class="adsTitle">{{ad.adTitle}}</p>
            <div class="adsPrice">
              <ion-label>{{ad.itemObj.Price}}</ion-label>
              <ion-label class="currency">AED</ion-label>
            </div>
            <div class="adsButton">
              <div>
                <ion-button class="callBtn" [href]="'tel:+' + ad.adMobile">
                  <ion-icon name="call"></ion-icon>
                </ion-button>
              </div>
              <div>
                <ion-button
                  class="whatsappBtn"
                  target="_blank"
                  [href]="waLink + ad.adMobile"
                >
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-button>
              </div>
              <div>
                <ion-button class="shareBtn" target="_blank">
                  <ion-icon name="share-social"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- --------- Commercial Ads for Mobile ---------- -->

  <div class="commercialTabComponent" *ngIf="commerceTab">
    <div class="navigationText">
      <p class="stickyCatTitle">You have 2 commercial ads</p>
    </div>

    <!-- tabs scroll code here -->
    <div class="tabs">
      <ion-label
        class="tabsSlide"
        style="background-color: #e30b1c; color: #fff"
        >All</ion-label
      >
      <ion-label class="tabsSlide">Mix ads</ion-label>
      <ion-label class="tabsSlide">Real Estate property</ion-label>
      <ion-label class="tabsSlide">Moving furniture</ion-label>
      <ion-label class="tabsSlide">Clean and sterilize</ion-label>
      <ion-label class="tabsSlide">Services</ion-label>
    </div>

    <!-- ------------------ Commercial Ads -------------- -->
    <div class="commercialAdsDisplay">
      <ion-card *ngFor="let ad of adDetails">
        <div>
          <img
            class="commercialImg"
            [src]="'https://specbits.com/class2/fab/'+ ad.imagesArray[0]"
          />
        </div>
        <!-- <div class="contactCommercial">
          <div style="border-right: 1px solid #dcdcdc">
            <ion-icon name="call" class="call"></ion-icon>
          </div>
          <div>
            <ion-img
              class="whatsapp"
              src="../../../assets/images/whatsapp.png"
            />
          </div>
        </div> -->

        <div class="adsButton">
          <div>
            <ion-button class="callBtn" [href]="'tel:+' + ad.adMobile">
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button
              class="whatsappBtn"
              target="_blank"
              [href]="waLink + ad.adMobile"
            >
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button class="shareBtn" target="_blank">
              <ion-icon name="share-social"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <!-- ----------------------------------------------- -->

  <!-- Footer Section -->
  <ion-footer id="footerMob">
    <app-footer-tabs></app-footer-tabs>
  </ion-footer>

  <app-floating-chat></app-floating-chat>
</ion-content>
