<ion-content>
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">Add new advertisement</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>Back</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle"
          >Upload images for the Ad</ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="selectOption">
        <p>
          Advertising with pictures becomes more attractive, which means more
          contacts and views
        </p>

        <div class="showUpload">
          <div *ngFor="let file of images; let i = index">
            <!-- <ion-thumbnail slot="start"> -->
            <ion-img [src]="file.data"></ion-img>

            <ion-icon
              name="close-circle"
              class="deletePic"
              (click)="deleteImage(file)"
            ></ion-icon>
            <!-- </ion-thumbnail> -->

            <!-- <ion-button (click)="startUpload(file)">upload</ion-button> -->
          </div>
        </div>

        <ion-card class="upload">
          <ion-card-content class="uploadImg" (click)="selectImage()">
            <ion-icon name="images" class="uploadIcon"></ion-icon>
            <p class="uploadText">Upload Images</p>
          </ion-card-content>
        </ion-card>

        <p style="color: #e30b1c">* You can add 12 photos</p>

        <div style="display: flex; justify-content: center">
          <ion-button
            color="danger"
            style="margin: auto"
            (click)="startUpload()"
            >Send Photos</ion-button
          >
        </div>

        <!-- Video Section -->

        <div>
          <div>
            <!-- <video width="320" height="240" controls>
              <source [src]="video+'.mp4'" type="video/mp4" />
            </video> -->
            {{video}}
          </div>
          <ion-input type="file" [value]="videoUrl" />
          <ion-button (click)="uploadVideo()">Upload Video</ion-button>
        </div>

        <!-- ------------------- -->
      </ion-card-content>
    </ion-card>
    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
