<ion-content [dir]="'dir' | translate">
  <!-- Header for Large screen -->

  <app-navbar class="topNav"></app-navbar>
  <!-- ---------------------------------- -->

  <ion-card class="advertisement">
    <ion-label class="adTitle">{{'addNewAd' | translate}}</ion-label>
    <ion-card-content class="cancelAd" (click)="goBack()">
      <ion-label>{{'back' | translate}}</ion-label>
      <ion-icon class="cancelIcon" name="chevron-forward"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="navigationBar">
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div style="background-color: #e30b1c"></div>
    <div></div>
    <div></div>
  </div>

  <!-- -------- Categories Section -------- -->
  <div class="adContent">
    <ion-card class="categories">
      <ion-card-header>
        <ion-card-title class="catTitle"
          >{{'uploadImageForAd' | translate}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="selectOption">
        <p>{{'uploadAdSubHeading' | translate}}</p>

        <div class="showUpload">
          <div *ngFor="let file of images; let i = index">
            <!-- <ion-thumbnail slot="start"> -->
            <ion-img [src]="file.data"></ion-img>

            <ion-icon
              name="close-circle"
              class="deletePic"
              (click)="deleteImage(file)"
            ></ion-icon>
            <!-- </ion-thumbnail> -->

            <!-- <ion-button (click)="startUpload(file)">upload</ion-button> -->
          </div>
        </div>

        <ion-card class="upload">
          <ion-card-content class="uploadImg" (click)="selectImage()">
            <ion-icon name="images" class="uploadIcon"></ion-icon>
            <p class="uploadText">{{'uploadImage' | translate}}</p>
          </ion-card-content>
        </ion-card>

        <p style="color: #e30b1c">{{'addUpto' | translate}}</p>

        <div style="display: flex; justify-content: center">
          <ion-button
            color="danger"
            style="margin: 60px auto; text-transform: none"
            (click)="startUpload()"
            >{{'sendPhotos' | translate}}</ion-button
          >
        </div>

        <!-- Video Section -->

        <!-- <div>
          <div>
            {{video}}
          </div>
          <ion-input type="file" [value]="videoUrl" />
          <ion-button (click)="uploadVideo()">Upload Video</ion-button>
        </div> -->

        <!-- ------------------- -->
      </ion-card-content>
    </ion-card>
    <div class="adImg">
      <img src="../../../assets/images/advertisement.jpg" />
    </div>
  </div>

  <!-- ------------ FOOTER Section --------- -->
  <app-floating-chat></app-floating-chat>
</ion-content>
